.direnv/
.devenv/

# devenv lockfile isn't versioned.
# devenv module should only propagate what's already pinned in the flake.
devenv.lock

# VSCode & copilot-cli
.vscode/

# nix
result
result-*
test-rig
rig-*
.rigup

# rigup local config
rigup.local.toml

# harnesses
.claude/
.cursor/
