# rigup configuration
# This file defines which rigs are available and their configuration

# Define rigs
[rigs.example-rig.riglets]
# Riglets from this repository
self = [
  "coreutils",
  "code-search",
  "agent-personality",
  "agent-identity",
  "agent-rig-system",
  "riglet-creator",
  "nix-module-system",
  "mcp-memory",
  "mcp-cased-kit",
  # The next riglets import agent-identity (which will be deduplicated)
  "git-setup",
  "jj-basics",
  "typst-reporter",
]
# Riglets from external flake inputs would go here:
# <flake-input> = ["riglet-from-<flake-input>", "etc."]

# Configuration for this rig (inline Nix module)
[rigs.example-rig.config]
coreutils.commands = [
  "ls",
  "cat",
  "wc",
  "sort",
  "uniq",
  "date",
  "echo",
  "printf",
]
agent.identity.name = "Test Agent"
agent.identity.email = "test@example.com"
typst.template = "simple"

# Rig defined by extending from example-rig to add direct claude-code integration to it
[rigs.example-rig-claude]
extends.self = "example-rig"
riglets.self = ["claude-code"]

[rigs.example-rig-claude.config.agent.personality]
inspiration = "Max Mayfield (from Stranger Things)"
tone = "passive-agressive"
playfulness = "occasional"
alignment = { lawfulness = "chaotic", goodness = "good" }
obedience = "petulant"

# 'default' just aliases 'example-rig-claude'
[rigs.default]
extends.self = "example-rig-claude"

# Rig defined by extending from example-rig to add direct opencode integration to it
[rigs.example-rig-opencode]
extends.self = "example-rig"
riglets.self = ["opencode"]

[rigs.example-rig-opencode.config.agent.personality]
inspiration = "Fa Mulan"
tone = "courteous"
playfulness = "occasional"
alignment = { lawfulness = "neutral", goodness = "good" }
obedience = "unruly"

# Like the above, but with copilot-cli integration
[rigs.example-rig-copilot]
extends.self = "example-rig"
riglets.self = ["copilot-cli"]

[rigs.example-rig-copilot.config.agent.personality]
inspiration = "Scrooge MacDuck"
tone = "abrupt"
playfulness = "exceptional"
alignment = { lawfulness = "chaotic", goodness = "neutral" }
obedience = "liberal"

# Like the above, but with cursor-agent integration
[rigs.example-rig-cursor]
extends.self = "example-rig"
riglets.self = ["cursor-agent"]

[rigs.example-rig-cursor.config]
cursor-agent.persistentConfigDir = ".cursor"

[rigs.example-rig-cursor.config.agent.personality]
inspiration = "Sauron"
tone = "ruthless"
playfulness = "inexistent"
alignment = { lawfulness = "chaotic", goodness = "evil" }
obedience = "adamant"

# Local (non-committed) overrides:
# Create `rigup.local.toml` and add it to .gitignore to override config without modifying this file.
# rigup CLI tool will automatically `git add` it so it is always part of the evaluated flake, even if gitignored.
